#siteHeader {
  .navbar {
    margin-bottom: 0;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 5px;
    opacity: 0.9;

    /* Add a gray color to all navbar links */
    li, .navbar-brand {
      color: #003366 !important;
    }

    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar-collapse {
      text-align: center;
    }
  }

  /* Remove border color from the collapsible button */
  .navbar-default {
    .navbar-toggle {
      border-color: transparent;
    }
  }

  /* Dropdown */
  .open {
    .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
    }
  }

  nav .dropdown {
    position: static !important;
    color: #777;

    /* Set a style for all buttons */
    & button {
      padding: 14px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }

    & button:hover {
      opacity: 1;
    }
  }

  /* On hover, the dropdown links will turn red */
  .dropdown-menu {
    li {
      a {
        color: #000 !important;

        &:hover {
          background-color: #95afff !important;
        }
      }
    }
  }

  /* Modal Content/Box */
  .modal-content {
    input {
      margin-bottom: 20px;
    }
  }
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}