/* Add a dark background color with a little bit see-through */

body, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}


/* Add padding to container elements */
.container {
  padding: 0;
  width: auto;
}

.w3-bar, h1, button {
  font-family: "Montserrat", sans-serif;
}

.fa-anchor, .fa-coffee {
  font-size: 150px !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

.carousel-inner > .item {
  position: relative;
  max-height: 600px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}